<div th:fragment ="footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-12">
                    <div class="row">
                        <div class="col-sm-6 col-lg-6 col-12 footer-nav-logo widget">
                            <a href="/" class="logo-wrapper" title="Evo Tools">
                                <img width="161" height="39" th:src="@{img/az1.png}" >
                            </a>
                            <p class ="p1">
                                AZ-ONLINE
                            </p>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-12 footer-nav-info widget">
                            <p class="footer-title">Bạn cần hỗ trợ</p>
                            <p class="footer-tel">0384210283</p>
                            
                            <p class="evo-in"><strong>Địa chỉ: </strong>70 Lu Gia, Ward 15, District 11, Ho Chi Minh City</p>
                            
                            <p class="evo-in">
                                
                                <strong>Email: </strong><a href="" title="support@sapo.vn">nang2002hv@gmail.com</a>
                                
                            </p>
                            <div class="social">
							<a class="fb" href="https://www.facebook.com/U-Fit-Shop-561797710650232/" target="_blank" aria-label="Facebook" title="Theo dõi Evo Tools trên Facebook">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;" xml:space="preserve">
									<path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803   c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654   c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246   c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#EBE7E7"></path>
								</svg>
							</a>
							<a class="tt" href="https://twitter.com/baotrung304" target="_blank" aria-label="Twitter" title="Theo dõi Evo Tools trên Twitter">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="25px" height="25px">
									<path d="M512,97.248c-19.04,8.352-39.328,13.888-60.48,16.576c21.76-12.992,38.368-33.408,46.176-58.016    c-20.288,12.096-42.688,20.64-66.56,25.408C411.872,60.704,384.416,48,354.464,48c-58.112,0-104.896,47.168-104.896,104.992    c0,8.32,0.704,16.32,2.432,23.936c-87.264-4.256-164.48-46.08-216.352-109.792c-9.056,15.712-14.368,33.696-14.368,53.056    c0,36.352,18.72,68.576,46.624,87.232c-16.864-0.32-33.408-5.216-47.424-12.928c0,0.32,0,0.736,0,1.152    c0,51.008,36.384,93.376,84.096,103.136c-8.544,2.336-17.856,3.456-27.52,3.456c-6.72,0-13.504-0.384-19.872-1.792    c13.6,41.568,52.192,72.128,98.08,73.12c-35.712,27.936-81.056,44.768-130.144,44.768c-8.608,0-16.864-0.384-25.12-1.44    C46.496,446.88,101.6,464,161.024,464c193.152,0,298.752-160,298.752-298.688c0-4.64-0.16-9.12-0.384-13.568    C480.224,136.96,497.728,118.496,512,97.248z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#EBE7E7"></path>
								</svg>
							</a>
						</div>
                            <div class="payment">
                                <img width="370" height="45" src="//bizweb.dktcdn.net/100/418/839/themes/808559/assets/payment_1.png?1678097409614" data-src="//bizweb.dktcdn.net/100/418/839/themes/808559/assets/payment_1.png?1678097409614" alt="Evo Tools" class="lazy loaded" data-was-processed="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-12 fix-ipad-footer">
                    <div class="row">
                        <div class="col-sm-6 col-lg-6 col-6 footer-nav-menu widget">
                            <p class="footer-title">Hướng dẫn mua hàng</p>
                            <div class="footer-menu">
                                
                                <a href="" title="Trang chủ" rel="nofollow">Trang chủ</a>
                                
                                <a href="" title="Giới thiệu" rel="nofollow">Giới thiệu</a>
                                
                                <a href="" title="Danh mục" rel="nofollow">Danh mục</a>
                                
                                <a href="" title="Tin tức" rel="nofollow">Tin tức</a>
                                
                                <a href="" title="Liên hệ" rel="nofollow">Liên hệ</a>
                                
                                <a href="" title="Hướng dẫn sử dụng" rel="nofollow">Hướng dẫn sử dụng</a>
                                
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-6 footer-nav-menu widget">
                            <p class="footer-title">Hỗ trợ khách hàng</p>
                            <div class="footer-menu">
                                
                                <a href="/" title="Trang chủ" rel="nofollow">Trang chủ</a>
                                
                                <a href="" title="Giới thiệu" rel="nofollow">Giới thiệu</a>
                                
                                <a href="" title="Danh mục" rel="nofollow">Danh mục</a>
                                
                                <a href="" title="Tin tức" rel="nofollow">Tin tức</a>
                                
                                <a href="" title="Liên hệ" rel="nofollow">Liên hệ</a>
                                
                                <a href="" title="Hướng dẫn sử dụng" rel="nofollow">Hướng dẫn sử dụng</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright text-center">
            © Bản quyền thuộc về Evo Themes Cung cấp bởi <a href="">AZ</a>         
        </div>
    </div>
</div>